.readme.md

# Dart/Flutter
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Secrets & Environment
.env
.env.*

# System / Misc
.DS_Store
*.log
*.tmp
*.lock

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/

# Desktop
macos/build/
linux/build/
windows/build/

# Web
web/assets/
web/canvaskit/
